<div class="container">

    <button class="btn" type="button" style="float: left">Filters
        <span class="octicon octicon-triangle-down v-align-middle text-gray" style="font-size: 13px;"></span>
    </button>
    <form class="subnav-search float-left" style="margin-left: -2px;">
        <input class="form-control form-control subnav-search-input input-contrast " ng-model="issueScopeData.filterModel" placeholder="Search all issues" type="text">

    </form>

    <div class="column"> <a class=" subnav-item" data-selected-links="repo_labels /StylishThemes/GitHub-Dark/labels">Labels</a>
        <a class=" subnav-item" data-selected-links="repo_labels /StylishThemes/GitHub-Dark/labels">Milestones</a></div>

    <div style="float:right">
        <button ng-click="issueScopeData.newIssue()" class="btn btn-primary" type="button">New Issue</button>
    </div>

</div>
<br>
<div ng-click="issueScopeData.resetFilter()" ng-show="issueScopeData.filtersSet()" class="container clear-filter" style="font-weight: 600">
    <a><span class="octicon octicon-x issues-reset-query-icon"></span> Clear current search query, filters, and sorts</a>
</div>
<br ng-show="issueScopeData.filtersSet()">
<div class="container issue-container">
    <div ng-include src="'templates/issueFilter.html'"></div>
    <!--|filter : issueScopeData.issueFilters.author-->
    <div class="issue-list-content " ng-repeat="issue in issueScopeData.openIssueList  |labelFilter : issueScopeData.issueFilters | orderBy : issueScopeData.issueFilters.sort.sortParam ">
        <div style="display: inline-table; ">
            <span class="octicon octicon-issue-opened text-green "></span>
        </div>
        <div style="display: inline-table ; margin-left: 15px ; ">
            <span style=" font-weight: 600; font-size: 16px ;color:#24292e "> {{issue.title}}</span>
            <span class="labels ">
                <a ng-repeat="label in issue.labels "  href="# " class="label v-align-text-top " style="; margin: 0 2px; "  
                   ng-class="label.css"
               ng-attr-title="Label:{{label.title}} ">{{label.title}}</a>
            </span>
            <br>
            <div style=" font-size: 12px; padding-top: 5px; ">#{{issue.key}} opened on {{issue.date | date:'MMM yy'}} by {{issue.author}} </div>

        </div>
        <div class="float-right "><span class="octicon octicon-comment v-align-middle "></span> {{issue.comments.length}} </div>

    </div>




</div>
<div class="protip ">
    <span class="octicon octicon-light-bulb text-gray "></span>
    <strong>ProTip!</strong> Adding <a href="# ">no:label</a> will show everything without a label.
</div>
